.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  margin: 0;
  padding: 60px 80px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 108px 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  margin: 0;
  padding: 0 0 20px;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.footer__social-link {
  text-decoration: none;
  margin: 0;
  color: #fff;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: ease-in 0.2s;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0;
  padding-right: 10px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  list-style-type: none;
  padding: 0 0px 16px 0;
  margin: 0;
}

.footer__list-item:last-child {
  margin: 0;
  padding: 0;
}

.footer__copyright {
  padding: 0 0 60px 0;
  margin: 0;
}
