.menu {
  background-color: #fff;
  background-image: url(/images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0 0 100px;
}

.menu__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  text-align: center;
  margin: 100px 0 24px;
  padding: 0;
}

.menu__subtitle {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  max-width: 540px;
  width: 100%;
  padding: 100px;
  margin: 0;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 32px;
  margin: 0;
}

.card__list {
  padding: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif";
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 0 16px;
}

.card:nth-of-type(3n) {
  margin: 0 auto;
  padding: 0 100px;
}

.card__list-divider {
  border-bottom-style: solid;
  border-width: 0.5px;
  border-color: #000;
  flex-grow: 1;
}
