.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin: 0;
}

.nav__links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 20px;
  font-weight: 500;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: ease-in 0.2s;
}

.nav__link:hover {
  opacity: 70%;
  color: #2f80ed;
}
