.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  position: relative;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-color: #fff;
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  z-index: 1;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  margin-top: 183px;
  margin-left: 80px;
  margin-bottom: 28px;
  max-width: 729px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  display: block;
}

.header__description {
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding-left: 80px;
  max-width: 683px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  right: 5px;
  top: 124px;
  z-index: -1;
}

.header__footer {
  font-weight: 500;
  color: #838383;
  margin-bottom: 40px;
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__hours {
  margin: 0;
}

.header__address {
  margin: 0;
  padding-top: 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
  margin: 0;
}

.nav__links {
  list-style: none;
  display: flex;
  margin: 0;
  column-gap: 20px;
  font-weight: 500;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  transition: ease 70%;
  color: #2f80ed;
}

.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  margin: 0;
  padding: 60px 80px 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  padding: 0 0 108px 0;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social {
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
}

.footer__social-link {
  text-decoration: none;
  margin: 0;
  color: #fff;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: ease-in;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0;
  padding-right: 10px;
}

.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  list-style-type: none;
  padding: 0 0px 16px 0;
  margin: 0;
}

.footer__copyright {
  padding: 0 0 60px 0;
  margin: 0;
}
